:root {
  /* declare CSS variables with `--` syntax */
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #b9c6ae;
  --pad20: 20px;
}
header,
footer {
    width: 100%;
    height: auto;
    padding: var(--pad20);
    color: #fff;
    text-shadow: 1px 1px #333;
}
header {
  background-image: linear-gradient( to bottom, #368727, transparent);
  padding-bottom: 5em;
  display: flex;
  justify-content: space-around;
}
.intro {
    display: block;
}
nav {
    width: 45%;
    float: left;
    max-width: 600px;
}
nav ul li {
    display: inline-block;
}
h1,
h2 {
    text-align: center;
    width: 100%;
    display: block;
}
img {
    display: block;
    /* height: 50px;
    width: 50px; */
    margin: auto;
}
img.bio {
    width: 35%;
    max-width: 300px;
    border-radius: 0 0 25%;
    max-height: 350px;
}
aside {
    float: left;
}
/* flexbox code is going in here */ 
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: flex-start; */
}
section {
    color: #000;
    padding:  var(--pad20) 0;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 18px;
  }
  .card {
    width: 45%;
    margin: 40px auto;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #888888;
  }
  .card:hover {
    background-color: #368727;
    border-color: bisque;
  }
  footer {
     background-color:#368727; 
  }
  footer h4 {
    font-size: 18px;
  }

/* CSS media queries code goes at the bottom */
  @media screen and (max-width: 992px) {
    header {
      
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      
    }
  }