* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
    width: 100%;
    height: auto;
    background-color:#368727;
    color: #fff;
    text-shadow: 1px 1px #333;
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    /* height: 50px;
    width: 50px; */
    margin: auto;
}
section {
    color: #000;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
  }
  .card {
    width: 80%;
    margin: 40px auto;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #888888;
  }